#mySlideshow
{
	width: 320px;
	height: 240px;
}

.jdSlideshow
{
	display: none;
	overflow:hidden;
	position: relative;
}

.jdSlideshow img
{
	border: 0;
	margin: 0;
}

.jdSlideshow .slideElement
{
	width: 100%;
	height: 100%;
	background-color: white;
	background-repeat: no-repeat;
}

.jdSlideshow .slideInfoZone
{
	position: absolute;
	width: 100%;
	margin: 0px;
	left: 0;
	bottom: 0;
	overflow: hidde;
	background: white;
	color: red;
	text-align: center;
	text-indent: 0;
	cursor: pointer;
	font: 1.1em Arial, Helvetica, sans-serif;
}

.jdSlideshow .slideInfoZone h2
{
	padding: 0;
	margin: 0;
	margin: 2px 5px;
	font-weight: bold;
	color: #333;
}

.jdSlideshow .slideInfoZone p
{
	padding: 0;
	margin: 2px 5px;
	color: #333;
}

.jdSlideshow .right, .jdSlideshow .left
{
	position: absolute;
	height: 100%;
	width: 40%;
	cursor: pointer;
	z-index:10000;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}

.jdSlideshow .right:hover, .jdSlideshow .left:hover
{
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.jdSlideshow .left
{
	left: 0;
	top: 0;
	background: url('img/prev.gif') no-repeat top left;
}

.jdSlideshow .right
{
	right: 0;
	top: 0;
	background: url('img/next.gif') no-repeat top right;
}
